<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <div class="subject text-center">Checkout Testing</div>

    <div class="checkout mx-auto">
       <div class="order">
        <h2 class="text-center">Checkout</h2>
        <h5>Ordern #00001</h5>
        <ul class="order-list">
            <li>
                <img src="" alt="">
                <h4>Product 1</h4>
                <h5>R1000</h5>
            </li>
            <li>
                <img src="" alt="">
                <h4>Product 2</h4>
                <h5>R1500</h5>
            </li>
            <li>
                <img src="" alt="">
                <h4>Product 3</h4>
                <h5>R800</h5>
            </li>
        </ul>
        <h5>Shipping</h5>
        <h4>R 30.00</h4>
        <h5 class="total">Total</h5>
        <h1>R3330.00</h1>
       </div>

       <div class="cancel">
        <h2>Payment Cancelled</h2>
        <a href="./checkout.ejs">Try again</a>
       </div>
</body>
</html>